<!DOCTYPE>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- JS (load angular, ui-router, and our custom js file) -->
    <script src="http://code.angularjs.org/1.2.13/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <style>
        .navbar {
            border-radius: 0;
        }
    </style>
    <title>Contact List App</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Contact List App</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a ui-sref="home">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" ui-sref="#">Customer<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="customer.create">Create</a></li>
                        <li><a ui-sref="customer.list">List</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<p id="menuitm" >Menu</p>
<p id="menuitmlen" >Menu</p>
<div class="container" ng-controller="AppCtrl">

    <h1>Contact List App</h1>

    <table class="table">
        <thead>
        <tr>
            <th>
                <button class="btn btn-primary" ng-click="jainMenu()">Jain Menu</button>
            </th>
            <th>
                <button class="btn btn-primary" ng-click="vegMenu()">Veg Menu</button>
            </th>
            <th>
                <button class="btn btn-primary" ng-click="nonvegMenu()">Non Veg Menu</button>
            </th>

        </tr>
        <tr><td colspan="2"></td><td><button class="btn btn-primary" ng-click="saveMenu()">Save Menu</button>
        </td></tr>
        </thead>
        <tbody>
        <!--   <tr>
             <td><input class="form-control" ng-model="contact.name"></td>
             <td><input class="form-control" ng-model="contact.email"></td>
             <td><input class="form-control" ng-model="contact.number"></td>
             <td><button class="btn btn-primary" ng-click="addContact()">Add Contact</button></td>
             <td><button class="btn btn-info" ng-click="update(contact._id)">Update</button>&nbsp;&nbsp;
                 <button class="btn btn-info" ng-click="deselect()">Clear</button>
             </td>
           </tr>
           -->
        <form>
        <tr ng-repeat="menu in menuitems">

                <td><input type="checkbox" name ="tags" id="menu._id" ng-click="addToMenu()" value="{{menu._id}}"> {{ menu.dish }}</input></td>
                <!-- <td ng-repeat="img in menu.img"><img width="120" src="{{img.imglink}}"/></td>
-->
                <td> {{menu.desc}}</td>
                <td> {{menu._id}}</td>
        </tr>


        </form>
        </tbody>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script src="controllers/controller.js"></script>
</body>
</html>
